*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Mono', monospace;
    transition: 0.3s;
    color: rgb(76,76,76,4);
}


body{
    background: rgb(26,26,26);
background: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(60,60,60,1) 100%);

}

.container{
  margin-bottom: 10px;
}
.navbar{
    height: 150px;
    width: 100%;
    top: 0;
    
     

}
.navbarsito{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    
}
.logo img:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


/*             ------------------------     */
.iconNav{
    margin-right:30px ;
    
}
.iconNav img:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/*-------sidebar      ---------*/
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .btnIcon{
    background-color: transparent;
    border: transparent;
  }

  /*-----------------Cuerpo----------------*/
  .containerBody{
    display: flex;
    margin-left: 300px;
    margin-top: 150px;
    font-size: 30px;
    justify-content: flex-start;
  }
.containerBody .title{
    
}
.containerBody .title h1:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.containerBody .title h1::first-letter{
    font-size: 60px;
}
.containerBody .Phrase{
    display:flex ;
    margin-top: 110px;
}
.containerBody .Phrase:hover{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
/*-----------------------------------------------------------------*/
.containerSee a{
  color: #111;
  font-size: 40px;
  text-decoration: none;
}
.containerSee a:hover{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.containerSee{
  display: flex;
  justify-content: end;
  margin-top: 350px;
}